body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/public/background.jpg);
  background-size: cover;
}

.App::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9); 
}

section{
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.descTop, .searchTop, .downWrap{
  z-index: 2;
}

.searchTop{
  display: flex;
text-align: center;
align-items: center;
}

.ratings{
  z-index: 1;
}

section div{
  z-index: 2;
}

input{
  width: 100%;
  height: 30px;
  outline: none;
  border: 3px solid black;
  border-radius: 5px;
}

input:focus{
  box-shadow: 0 0 10px black;
}

button{
  width: 5vw;
  min-width: 60px;
  height: 32px;
  border: none;
  background-color: white;
  border-radius: 5px;
  padding: 0;
  padding-top: 3px;
}

button:hover{
  background-color: #526D82;
  color: white;
}

.searchTop{
  width: 50vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, .dropdown{
  padding-left: 0.5vw;
}

.dropdown{
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 100%;
  position: absolute;
  top: 0;
  left: -3px;
}

.dropdown:empty{
  border: none;
}

.downWrap{
  width: 45vw;
}

.hidden{
  display: none !important;
}

.dropdown-row{
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

/* .searchTop, .downWrap, i {
  position: relative;
  bottom: 10vh;
} */

.downWrap{
  position: relative;
}

.resultImages{
  width: 5vw;
  min-width: 50px;
}

.ratings{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.ratings div{
  margin: 3vw;
}

i{
  color: white;
  opacity: 1;
  z-index: 1;
  display: block;
}

h1, h2, h3, p{
  color: white;
}

h1{
  margin-bottom: 1vw;
}

h2{
  margin-top: 0;
}

h3{
  margin-bottom: 0;
  margin-top: 1vw;
}

p{
  margin-top: 0;
}

.svgR{
  width: 25px;
}

@media only screen and (max-width: 500px) {
  h2{
    margin-top: 7vw;
  }
  h1{
    margin-bottom: 7vw;
  }
  .searchTop{
    width: 90vw;
  }
}
